*{
  margin: 0;
  padding: 0;
}

body{
  background: wheat;
}

.intro{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.header{
  width: 99%;
  height: 100px;
  background: darkseagreen;
  margin: 10px;
  border: solid 1px black;
}

.name__tag{
  position: relative;
  width: 400px;
  height: 50px;
  left: 100px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%)
}

.link{
  position: relative;
  width: 400px;
  height: 50px;
  float: right;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 70px;
  text-decoration: none;
  transform: translate(0, -50%)
}

.mon_block{
  position: relative;
  max-width: 1000px;
  height: 600px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.graf__block{
  width: 500px;
  height: 400px;
  background: url('/static/img/graf.png')center no-repeat;
  background-size: cover;
}

.total__block{
  position: relative;
  width: 400px;
  height: 200px;
  bottom: 393px;
  border: solid 1px black;
  float: top;
  left: 55%;
  margin-left: 40px;
}

.total__tag{
  width: 100%;
  height: 60px;
  background: black;
  text-align: center;
  color: wheat;
  font-size: 40px;
}

.total__count{
  width: 100%;
  height: 30px;
  font-size: 110px;
}