<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style/style_s.css') }}">
    <title>doc_S</title>
</head>
<body>
<div class="intro">
    <div class="header">
        <div class="name__tag">graf view</div>
        <div class="link"><a href="https://docs.google.com/spreadsheets/d/11FkagmZbctyjr0QQRksIBKCIlN_vxY8BhHcniBG43OA/edit#gid=0">LINK</a></div>
    </div>
    <div class="graf__block"></div>
    <div class="total__block">
        <div class="total__tag">TOTAL</div>
        <div class="total__count">{{ Total }}</div>
    </div>
</div>

</body>
</html>